*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
    color: #FFFDFF;
}
body{
    background-color: #101010;
}
.container{
    width: 72%;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Navbar */
nav{
    height: 63px;
    position: relative;
}
nav input, nav label{
    display: none;
}
.navbar{
    width: 72%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    padding: 0px 40px;
    border-left: 5px solid #D54AB6;
    position: absolute;
    top: 20px;
}
.navbar .menu{
    display: flex;
    column-gap: 20px;
}
.navbar .menu a{
    color: #ffffff;
    padding: 22px 20px;
    transition: 0.5s;
    font-weight: 100;
}
.navbar .menu a:hover{
    color: orange;
}
.navbar .menu a:hover{
    background-color: rgb(54, 54, 54);
}

/* Main section */
/* Home part */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-image: url(../media/home-bg.jpg);
    background-size: cover;
    background-position: center center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}
.home div{
    margin-left: 300px;
}

/* Features section */
.feature{
    display: flex;
    column-gap: 30px;
    position: relative;
    top: -50px;
}
.feature .features{
    text-align: center;
    padding: 40px 30px;
    transition: 0.4s ease-in;
}
.feature .features:hover{
    /* position: relative;
    bottom: 40px; */
    transform: translateY(-20px);
}
.f-one{
    background-color: #C14000;
}
.f-two{
    background-color: #009988;
}
.f-three{
    background-color: #FFA500;
}
.features i{
    font-size: 25px;
    padding: 25px;
    border: 2px solid #FFFDFF;
    border-radius: 50%;
}
.features h3{
    font-size: 28px;
    margin: 15px 0;
}
.features p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
}

/* Startup Section */
.startup{
    display: flex;
    background-color: #191919;
}
.s-left{
    flex-basis: 100%;
}
.s-left img{
    width: 100%;
    height: 100%;
}
.s-right{
    padding: 40px 30px;
    flex-basis: 100%;
}
.s-right p{
    color: #73704E;
    line-height: 22px;
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 14px;
}
.s-right button{
    padding: 15px 20px;
    background-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #FFFDFF;
    margin-top: 30px;
    transition: background-color .5s;
}
.s-right button:hover{
    background-color: #057e70;
}

/* Portfolio section */
#gallery{
    margin: 100px 0;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.common{
    width: 60%;
    text-align: center;
    margin: 0 auto 50px;
}
.common p{
    font-size: 15px;
    color: #7D7B7D;
    letter-spacing: 1px;
    line-height: 22px;
    margin-top: 20px;
}
.gallery img{
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.5s;
    cursor: zoom-in;
}
.gallery img:hover{
    /* transform: scale(1.2); */
    opacity: 1;
}
.gallery-bottom{
    text-align: center;
    margin-top: 40px;
}
.gallery-bottom a{
    padding: 15px 20px;
    border: 2px solid #FFFDFF;
    background-color: transparent;
    transition: background-color 0.5s;
}
.gallery-bottom a:hover{
    background-color: #009988;
    border-color: #009988;
}


/* footer section */
.footer-top{
    background-color: #1C1C1C;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 50px;
    padding: 80px 0;
    
}
.footer-container h3{
    font-size: 26px;
}
.footer-container p{
    margin: 20px 0;
    font-size: 14px;
    color: #7D7B7D;
    line-height: 22px;
}
.footer-container p span{
    color: #7D7B7D;
}
.footer-container p i{
    margin-right: 10px;
    font-size: 20px;
    color: #7D7B7D;
}
.footer-container ul{
    margin-top: 30px;
}
.footer-container ul li{
    margin-top: 15px;
    color: #7D7B7D;
}
.footer-container ul li a{
    color: #7D7B7D;
}
.footer-container ul li a:hover{
    color: #FFFDFF;
}
.footer-container input[type='text']{
    width: 80%;
    padding: 6px;
    background-color: transparent;
    border: 2px solid #FFFDFF;
    font-size: 15px;
}
.footer-container input[type='submit']{
    width: 100px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #FFFDFF;
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.5s;
}
.footer-container input[type='submit']:hover{
    background-color: #009988;
    border: 2px solid #009988;
}



/* About page started */
.about-home{
    background-image: url(../media/about-header.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}
.crew{
    margin: 100px 0;
}
.crew-bottom{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;
    row-gap: 20px;
}
.crews{
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
}
.crews h3{
    margin: 20px 0;
    font-size: 28px;
    letter-spacing: 1px;
}
.crews h4{
    color: #D54AB6;
    font-weight: bold;
}
.crews p{
    margin: 15px 0;
    line-height: 22px;
    font-size: 15px;
    color: #7D7B7D;
}
.crew-bottom img{
    width: 100%;
    object-fit: cover;
}
hr{
    border: 1px solid #333333;
}

/* progress section */
#progress{
    margin: 100px 0;
}
.progress{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 50px;
    row-gap: 20px;
}
.progress h2{
    margin: 10px 0 20px;
}
.progress p{
    font-size: 15px;
    color: #7D7B7D;
}
.progress-right .bar:nth-child(2n){
    margin: 30px 0;
}
.progress-right .bar-name{
    display: flex;
    justify-content: space-between;
}
.progress-right progress{
    width: 100%;
    height: 10px;
    border: none;
}

/* Portfolio section */

.portfolio-home{
    background-image: url(../media/portfolio-header.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}


/* contact section */

.contact-home{
    background-image: url(../media/contact-header.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}


#get{
    margin: 100px 0;
}
#get form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    column-gap: 30px;
}
#get form input, #get form textarea{
    width: 100%;
}
form input[type='text'], form input[type='email'], form textarea{
    padding: 10px;
    background-color: #333;
    border: 0;
    margin-top: 10px;
    font-size: 16px;
}
#get form input[type='submit']{
    width: 100px;
    padding: 15px 20px;
    background-color: transparent;
    border: 2px solid #FFFDFF;
    font-weight: bold;
    font-size: 16px;
}

form h3{
    margin: 15px 0;
    font-size: 25px;
    letter-spacing: 1px;
}
form p{
    letter-spacing: 1px;
}
.location{
    margin-top: 80px;
}
.location .location-container iframe{
    width: 100%;
    height: 300px;
}
.location h3{
    font-size: 28px;
    margin-bottom: 20px;
}


/* footer bottom */
.footer-bottom-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    padding: 30px 0;
}
.footer-bottom-container span{
    color: #FFA500;
    font-weight: bold;
}
.footer-bottom-container ul{
    display: flex;
    column-gap: 10px;
}
.footer-bottom-container ul li a{
    padding: 15px;
    background-color: #202020;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.5s;
}
.footer-bottom-container ul li a:hover{
    background-color: #D54AB6;
}